* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Product Sans', sans-serif; /* Using Product Sans font */
}

body {
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
}